body {
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  border: 5px solid white;
  border-radius: 50px;
  text-align: center;
  background-color: rgba(243, 233, 231, 0.7);
}


.border-line {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.result-text {
  animation-duration: 1s;
  color: rgba(0, 4, 255, 0.7);
}

.button-style {
  height: 50px;
  width: 70px;
  border-radius: 25px;
  font-size: 8pt;
  font-weight: bold;
  margin: 10px;
}
.button-style:hover {
  color: #000;
  font-size: 12pt;
  background-color: aquamarine;
}

.pre-title {
  font-size: 8vw;
  font-weight: bold;
  color: rgb(255, 0, 0);
}
.title {
  font-size: 4vw;
  font-weight: bold;
}
.sub-title {
  font-size: 3vw;
  font-weight: bold;
}

.main-img {
  width: 10vw;
  height: 10vh
}

.red-text {
  color: blue;
}

.form-control {
  height: 40px;

  font-size: 2vw;
  margin-right: 5px;
  text-align: center;
}

@media screen and (max-width: 24rem) {
  .pre-title {
    font-size: 5vw;
  }
  .title {
    font-size: 6vw;
  }
  .sub-title {
    font-size: 6vw;
  }
  .form-control {
    font-size: 4vw;
    max-width: 250px;
    margin-right: 0px;
  }
  .main-img {
    width: 20vw;
  }
  .button-reset {
    font-size: 3vw;
    width: 40px;
    height: 30px;
  }
}